[api]
listen = 0.0.0.0
port = 5556
requireInvite = true
expiry = 3600
timeout = 10
interval = 300
loglevel = 0

[api.mysql]
hostname = mysql
port = 3306
username = root
password = mangos
database = cmangosapi

[realmd]
hostname = steakhouse.sysroot.ovh
port = 3724

[realmd.mysql]
hostname = mysql
port = 3306
username = root
password = mangos
database = classicrealmd

[mangosd]
realms = MaNGOS

[mangosd.MaNGOS]
id = 1

[mangosd.MaNGOS.character.mysql]
hostname = mysql
port = 3306
username = root
password = mangos
database = classiccharacters

[mangosd.MaNGOS.world.mysql]
hostname = mysql
port = 3306
username = root
password = mangos
database = classicmangos
